<!DOCTYPE html>
<head>
    <title>Cryptocurrency BackTesting</title>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/backtest.js') }}"></script>

</head>
<body>

    <div>
        투자 금액: 
        <input type="text" id="money"> 
        원
    </div>
    <div>
        name: <select id="select1" name="name" >
            {% for tricker in trickers %}
            <option value= "{{tricker}}">{{tricker}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        봉 단위: 
        <select name= "unit" disabled>
            <option value= "minute1">1분</option>
            <option value= "minute3">3분</option>
            <option value= "minute5">5분</option>
            <option value= "minute10">10분</option>
            <option value= "minute30">30분</option>
            <option value= "minute60">60분</option>
            <option selected value= "day">일</option>
            <option value= "week">주</option>
            <option value= "month">월</option>
        </select>
        <input type='date' id="date_start" value="2021-09-01">
        <input type='date' id="date_end">
    </div>

    <div>
        K:
        <input id="setValue_K" type="text" value="0.5">
    </div>

    <div>
        <input type="button" id='btn1' value="backtest start"/>
    </div>

    <div>
        <label id="result_lb_1">NONE</label>
    </div>


</body>
<script>
    settings();

</script>